
<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>


<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="wrapper-answer text-center">
          <p><strong>
            <form action="/answer" method="GET">
              <input type="text" name="query" placeholder="Your question Monsieur..">
              <button type="submit" class="btn btn-warning">Submit!</button>
            </form>
          </strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
          <div class="wrapper-grey text-center">
            <p>- You</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


